body
{
    background-color: aquamarine;
}

div{
    background-color: blueviolet;
    margin-left: 50px;
    
}

.container{
    background-color: azure;
    height: 500px;
    border: 2px solid gold;
    width: 500px;
    padding-top: 100px;
    margin-top: 50px;
}


.child1
{
    background-color: yellowgreen;
    border: 1px dotted red;
    height: 100px;
    width: 300px;
}

div p{
    background-color: dodgerblue;
}