.id_card{
    border: 10px solid;
    height: 500px;
    width: 450px;
    background-color: rgb(230, 215, 225);
    color: slateblue;
    padding: 30px;
    
}

.id_card table,tr,td,th{
    /* border: 2px solid; */
    padding: 2px;
    display: flex;
    flex-direction: column;
}

